/*
Stylesheet for Section 4 Lab 2 - 01.16.17

Footer on bottom adapted from CSSReset.com
http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/

*/
html,
body {
	margin:0;
	height:100%;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:link {
	color:blue;
}
a:visited {
	color:blue;
}
h1 {
	text-align:center;
}
.wrapper {
	min-height:100%;
	position:relative;
	padding-right:10px;
	padding-left:10px;
}
.header {
	margin:auto;
	padding-top:1px;
}
.content {
	padding-bottom:90px;
}
.footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:90px;
    text-align:center;
}
.center {
	margin:auto;
	text-align:center;
}