/*
Stylesheet for Section 4 Lab 3 - 01.16.17
*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body {
	font-family: Garamond;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.center {
	text-align: center;
	margin: auto;
}
.josefinFont {
	font-family:'Josefin Sans', sans-serif;
}
.imgCover {
	text-align: center;
	margin: auto;
	background-image: url("../img/albumcover_edited.png");
	height: 400px;
	width: 400px
}