/*
Stylesheet for Section 4 Lab 5 - 01.21.17
*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body {
	font-family: Garamond;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color:#33cc33;
}
table {
	background-color:#ccffcc;
	border:1px solid black;
	border-collapse:collapse;
}
th {
	background-color:#c2c2d6;
	padding:5px;
}
td {
	font-style:italic;
}
.center {
	text-align: center;
	margin: auto;
}
.josefinFont {
	font-family:'Josefin Sans', sans-serif;
}
.imgCover {
	text-align: center;
	margin: auto;
	background-image: url("../img/albumcover_edited.png");
	height: 400px;
	width: 400px
}