<html ng-app = "githubViewer"> <!-- DOM for angularjs. enables for entire html -->

    <head>
        <script data-require="angular.js@*" data-semver="1.3.0-beta.5" 
        		src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script> 
        		<!-- older version of angular used in the pluralsight demo -->
        <link rel="stylesheet" href="style.css" />
        <script src="script.js"></script>
        <style>
            td{
                text-align:center;
            }
        </style>
    </head>

  <body>

    <div ng-controller = "MainController">
	    <h1>Hello World!</h1>
	    {{ 843/42 }} <!-- binding expression -->
		<p>{{message.length}}</p>
		<p>{{message}}</p>
		<p>First name: {{person.firstName}}</p>
		<p>Last name: {{person.lastName}}</p>
		<p>
			<img ng-src="{{person.imgSrc}}" title="{{person.firstName}} {{person.lastName}}">
	    </p>
	</div>
  
  <hr>

    <div ng-controller = "GitHubController">
        <p>{{error}}<p>
        <h1>{{message}}</h1>

        <form name="searchUser" ng-submit="search(username)">
            <input type="search" required placeholder="Username to find" ng-model="username" />
            <input type="submit" value="Search">
        </form>
        
        <div ng-include="'userdetails.html'" ng-show="user"> </div>

    </div>

  </body>

</html>