/*
Stylesheet for Section 4 Lab 1 - 01.16.17
*/
body {
	font-family: Garamond;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.center {
	text-align: center;
	margin: auto;
}
