/*
Stylesheet for Section 4 Lab 8 - 01.23.17

Footer on bottom adapted from CSSReset.com
http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/

*/
@import url('https://fonts.googleapis.com/css?family=Alice|Antic+Slab');
html,
/*body {
	margin-top:0;
	margin-left:4px;
	margin-right:4px;
	margin-bottom:0;
	margin:0;
	height:100%;
}
a {
	text-decoration:underline;
}
a:link {
	color:blue;
}
a:visited {
	color:purple;
}
a:hover {
	text-decoration:underline;
	font-weight:bold;
}
a:active {
	text-decoration:none;
}
h1 {
	text-align:center;
}*/
/*.wrapper {
	min-height:100%;
	position:relative;
	padding-right:10px;
	padding-left:10px;
}
.header {
	margin:auto;
	padding-top:1px;
	font-family:'Alice', serif;
	border-bottom:1px solid #A8A8A8;
}
.navigation {
	border-top:1px solid white;
	border-bottom:1px solid #A8A8A8;
	padding-left:10px;
}
.content {
	padding-bottom:75px;
}
.footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:75px;
    text-align:center;
    border-top:1px solid #A8A8A8;
    border-top-width:90%;
}
.center {
	margin:auto;
	text-align:center;
}*/
.anticFont {
	font-family:'Antic Slab', serif;
}
.aliceFont {
	font-family:'Alice', serif;
}
.col-centered {
	display:inline-block;
	float:none;
	text-align:center;
	margin-right:-4px;
}
.col-max {
	max-width:320px;
}